**/*.env*
!.env.example

dial_conf/core/*.json
dial_conf/core/logs/

.idea
*.iml
*.bkp
*.po~
*.dtmp
.DS_Store
.vscode
venv
.venv
.poetry
out
__pycache__/
*.py[cod]
*$py.class
output
resources/**
**.egg-info/
dist
**/secrets.env
build
reports
.mypy_cache
.dial
.python-version
*.pyc
.pytest_cache
.ruff_cache
.opik-local
